extends layout

block content
  h3 Fin Tool
  div.form-group
    form(action="/result" method="GET")
      p Ticker:
        select(type="text" id="tickers" name="tickers" placeholder="" multiple="multiple" ).form-control
      p Start Date:
        input(type="date" id="start_date" name="start_date" placeholder="").form-control
      p End Date:
        input(type="date" id="end_date" name="end_date" placeholder="").form-control
      p Amount:
        input(type="number" id="amount" name="amount" value=50).form-control
      p Period:
        select(id="period" name="period").form-control
          option(value="w") Weekly
          option(value="d") Daily
      p API:
        select(id="api" name="api").form-control
          option(value="yahoo") Yahoo
          option(value="alphavantage") Alpha Vantage
      button(type="submit").btn.btn-primary Submit

  table.table.table-striped.table-responsive
    tr
      th Ticker
      th Start Date
      th End Date
      th Period
      th Highest Price Drop Date
      th Highest Price Drop*
      th Avg Price
      th Last Price
      th Graham Price
      th Amount Invested
      th Current Value
      th Total Gain %
      th Performance Per Year*
    each row in rows
      tr
        td= row.ticker
        td= row.start_date
        td= row.end_date
        td= row.period
        td= row.lowest_close_from_last_date
        td= row.stop_loss
        td= row.avg_price_per_share
        td= row.last_price
        td= row.graham_value_price
        td= row.amount_invested
        td= row.current_value
        td= row.total_gain
        td= row.performance_pa
      tr