extends layout

block content
  table.table.table-striped
    tr
      th Ticker
      th Start Date
      th End Date
      th Period
      th Amount Invested
      th Current Value
      th Total Gain %
      th Performance Per Year*
    each row in rows
      tr
        td= row.ticker
        td= row.start_date
        td= row.end_date
        td= row.period
        td= row.amount_invested
        td= row.current_value
        td= row.total_gain
        td= row.performance_pa
      tr
  p